@import "_mixins.scss";
@import "_grid.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Montserrat, OpenSans, sans-serif;
  background-color: var(--background);
  font-size: 12px;
  @include respond-to("md") {
    font-size: 18px;
  }

  h1 {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  p {
    margin: 0;
  }
}
